[submodule "libs/pykoopman_interface/dependencies/pykoopman"]
	path = libs/pykoopman_interface/dependencies/pykoopman
	url = git@github.com:juliusaka/pykoopman.git
[submodule "libs/pykoopman_interface/dependencies/bnode-core"]
	path = libs/pykoopman_interface/dependencies/bnode-core
	url = ../bnode-core.git
